.analyze-border {
    border-style: solid;
    border-color: #000;
    border-width: 1px;
}
.analyze-border td {
    text-align: center;
    border: none !important;
}

.amt-compare-td {
    vertical-align: middle !important;
}

.amt-greater-td {
    background-color:#ef9a9a; color:#424242;
}

.amt-equal-td {
    background-color:#FFCC80; color:#424242;
}

.amt-worse-td {
    background-color:#81D4FA; color:#424242;
}

.als-table-symbol {
    font-size: 23px;
    font-weight: bold;
}

table.als-table th:nth-of-type(1) {
    width: 10%;
}

table.als-table th:nth-of-type(2) {
    width: 40%;
}

table.als-table th:nth-of-type(3) {
    width: 50%;
}

.padding-20 {
    padding: 20px !important;
}